.title{
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 15px;
    padding: 0px 0 30px 0;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.divStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 15px;
    padding: 30px 0 0px 0;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    margin-top: 10px;
}

.secondDivStats{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    display: flex;
    margin: auto;
    background-image: url('../../../img/pokemonBg.gif');
    background-size: cover;
    margin-top: 10px;
    width: 20%;
    border-bottom-style: solid;
    border-radius: 15px;
}