.filteredPokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.mainDiv{
    background: #0077bc;
}

.filtersContainer{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #e64556;
    margin-bottom: 30px;
}

.btnCreatePokemon{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: #f8ea93;
    cursor: pointer;
}

.filteredPokemonAndFilters{
    display: flex;
    flex-direction: column-reverse;
}

.filteredPokemonBtn{
    display: flex;
    margin: 0 0 255px 4px;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: #e64556;
    cursor: pointer;
}