.pokemonCard{
    display: flex;
    flex-direction: column;
    /* background-color: #eee; */
    /* border-style: solid;
    border-width: 3px;
    border-radius: 14px; */
}

.title{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

.titleDiv{
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 15px;
    padding: 0px 0 30px 0;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.imgDiv{
    margin-top: -35px;
    position: relative;
    z-index: 2;
}

.img{
    display: flex;
    margin: auto;
    background-image: url('../../../img/pokemonBg.gif');
    background-size: cover;
    margin-top: 10px;
    width: 100%;
    border-bottom-style: solid;
    border-radius: 15px;
}

.typesDiv{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    z-index: 1;
    padding-top: 35px;
    border-radius: 15px;
    margin-top: -40px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.typesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 60px));
    justify-content: center;
    margin-bottom: 15px;
}

.titleTypes{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.typeContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filteredPokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.filteredPokemonTitleAndImg{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: center;
    padding-left: 10px;
}

.filteredPokemonTypesDiv{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: aut;
    width: 50%;
    background-color: #eee;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    border-radius: 15px;
    margin-top: 10;
    justify-content: inherit;
    border-left: transparent;
    margin-left: 4px;
}

.filteredPokemonTypesContainer{
    display: flex;
}
